In [1]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user = "haris" , password = "intrepid@18" , db = "little_lemon_db")

In [4]:
cursor = connection.cursor()

In [13]:
query = "SHOW TABLES;"
cursor.execute(query)

In [14]:
cursor.fetchall()

[('bookings',),
 ('customers',),
 ('meal_type',),
 ('menu_type',),
 ('menus',),
 ('order_status',),
 ('orders',),
 ('ordersview',),
 ('staff',),
 ('tables',)]

In [17]:
query = """SELECT c.customer_id , CONCAT(c.first_name , " " , c.last_name) as "full name" , o.order_id , o.quantity*m.price as sales, m.name , t.name 
FROM customers as c 
INNER JOIN bookings as b ON b.customer_id = c.customer_id
INNER JOIN tables as tb ON b.table_id = tb.table_id
INNER JOIN orders as o on b.booking_id= o.booking_id
INNER JOIN menus as m on o.item_id = m.item_id
INNER JOIN meal_type as t on m.type_id = t.type_id 
WHERE o.quantity*m.price > 10;"""

In [18]:
cursor.execute(query)
for row in cursor:
    print(row)

(1, 'John Doe', 1, Decimal('17.98'), 'Pancakes', 'Vegetarian')
(7, 'Ethan Miller', 4, Decimal('31.98'), 'Chicken Curry', 'Non-veg')
(4, 'Emily Davis', 7, Decimal('10.99'), 'Caesar Salad', 'Vegan')
(9, 'Daniel Taylor', 5, Decimal('12.99'), 'Veggie Burger', 'Non-veg')
(6, 'Olivia Brown', 8, Decimal('29.98'), 'Margherita Pizza', 'Non-veg')
(5, 'Michael Wilson', 3, Decimal('35.97'), 'Tofu Stir-fry', 'Vegan')
(2, 'Jane Smith', 6, Decimal('35.98'), 'Shrimp Scampi', 'Non-veg')
(10, 'Sophia Anderson', 10, Decimal('59.97'), 'Sushi Combo', 'Non-veg')